<VirtualHost *:80>
    ServerName domain.tld
    ServerAlias www.domain.tld


    DocumentRoot "d:/Apache24/htdocs/my-project/public"
    <Directory "d:/Apache24/htdocs/my-project/public">
        Options -Indexes +FollowSymLinks -MultiViews
        AllowOverride All
        Require all granted
    </Directory>

    # uncomment the following lines if you install assets as symlinks
    # or run into problems when compiling LESS/Sass/CoffeeScript assets
    # <Directory /var/www/project>
    #     Options FollowSymlinks
    # </Directory>

    ErrorLog "logs/error.log"
    CustomLog "logs/access.log" common
</VirtualHost>